
@font-face {
    font-family: "Helvetica";
    src: url('/templates/receipt/payment/fonts/Helvetica.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url('/templates/receipt/payment/fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: bold;
}
